[Unit]
Description=Header Server
After=network.target
 
[Service]
ExecStart=/bin/bash /root/header-server/scripts/startup.sh
WorkingDirectory=/opt/header-server
Restart=always
User=root
 
[Install]
WantedBy=multi-user.target